.defaultContainer {
    width: 100%;
    width: 100vw; /* testing proposes */
    min-height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    color: #f0f0f0;
}